body{
    font-size: 1.47rem;
    font-weight: 400;
    font-family: $font-default;
    line-height: 1.6;
}

.heading-primary{
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: 3.5rem;
}