.game {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    background-color: darken($color-dark-2, 4%);
    display: grid;
    place-items: center;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 12rem;
        padding: 0 5%;
        color: white;
        position: fixed;
        top: 0;
        left: 0;
    }



    &__control {
        background-color: $color-primary;
        font-weight: 600;
        color: $color-white;
        border-radius: 3px;

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__scores {
        display: grid;
        gap: 5px;
    }

    &__score {
        padding: 7px;
        border-radius: 5px;
        opacity: .6;

        &:nth-child(1) {
            background-color: $color-secondary;
        }
        &:nth-child(2) {
            background-color: $color-primary;
        }

        &.active{
            opacity: 1;
        }
    }
}