/*
----------
COLORS ---
----------
*/

$color-dark: #34495e;
$color-dark-2: #2c3e50;
$color-primary: #3498db;
$color-secondary: #9b59b6;
$color-tertiary: #16a085;
$color-orange: #e74c3c;
$color-white: #f7f7f7;


/*
----------
FONT -----
----------
*/

$font-default: 'Jura', cursive;




/*
----------------
TRANSITION -----
----------------
*/

$transition-fast: all 350ms;
$transition-mid: all 550ms;




/*
----------
SHADOW ---
----------
*/

$shadow: 0 1px 8px rgba(0, 0, 0, .25);